* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: black;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.container {
    width: 390px;
    aspect-ratio: 1/1.5;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;

    overflow: hidden;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    font-size: 25px;
    color: white;
}

#list {
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.list-btn {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}

.middle {
    width: 100%;
    height: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.img {
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    /* border: 1px solid tomato; */

    /* background-image: url(./Images/image1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid white;
}

#song-title {
    font-size: 20px;
}

.bottom {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.control {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin-top: 10px;

    gap: 2px;
}

.extra-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#mute {
    font-size: 25px;
    cursor: pointer;
}

#loop {
    font-size: 25px;
    cursor: pointer;
}

#replay {
    font-size: 22px;
    cursor: pointer;
    margin-right: 20px;
}


/* ************************************* */
/* ************************************* */
/* for design progress bar */

/* .progress-container {
    height: 40%;
} */

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: rgb(201, 201, 201);
    border-radius: 4px;
    cursor: pointer;

    overflow: hidden;
     
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 15px;
    background-color: #90ee90;
    box-shadow: -400px 0 0 400px #90ee90;
}

.time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.timeControl {
    margin-top: 3px;
    font-size: 13px;
}

/* ************************************* */
/* ************************************* */


.play-pause-change {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    padding-bottom: 10px;
    align-items: center ;
}

#play {
    font-size: 40px;
    color: black;
}

.btn-holder {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5px 0px 0px 1.5px;

    position: relative;

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}

.change-song {
    font-size: 35px;
    cursor: pointer;
}


/* ******************************************* */
/* list window */
.listWindow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.755);
    backdrop-filter: blur(8px);

    color: black;

    display: flex;
    flex-direction: column;
    
}

.listWindow p {
    font-size: 14px;
}

.upper-list {
    border-bottom: 1px solid black;
    display: flex;
    padding: 20px;
    justify-content: flex-end;
}

#x {
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.song {
    border: 1px solid tomato;
    margin: 10px 5px 0 5px;
    padding: 10px;
    display: flex;
    gap: 10px;

    cursor: pointer;

    /* height: 80px; */
}

.list-img-holder {
    width: 130px;
    height: 60px;
}

.list-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.song-list {
    overflow-y: scroll;
}

/* for song list scrollbar */
.song-list::-webkit-scrollbar {
    width: 1px;
}


/* ******************************************* */
/* ******************************************* */

#audio {
    display: none;
}


/* ****************************************** */
/* for javascript */
.green--color {
    color: #90ee90;
}

.display--none {
    display: none;
}


/* ************************************ */
/* mobile responsive */
@media (max-width: 768px){
    .container {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    #logo {
        font-size: 30px;
    }

    .list-btn {
        scale: 1.2;
        padding-top: 3px;
    }

    .play-pause-change {
        margin-top: 20px;
    }
    .change-song {
        font-size: 50px;
    }

    #play-btn {
        scale: 1.3;
        padding: 3px 0 0 2px;
    }

    .timeControl {
        font-size: 16px;
    }
    

    .middle {
        height: 62%;
    }

    .img {
        width: 260px;
        height: 260px;
    }

    #song-title {
        font-size: 30px;
    }

    
    .bottom {
        height: 25%;
    }

    .extra-feature {
        padding: 0 15px;
        padding-bottom: 5px;
    }
    #mute {
        font-size: 29px;
    }
    #loop {
        font-size: 23px;
    }


    #song-title {
        font-size: 20px;
    }
}